@media only screen and (max-width: 1024px) {
  .logo-text-big-mobil{
    color: #f8ba00 !important;
  }
  .logo-text-small-mobil{
    font-size: 16px;
    color: #fff;
  }
  .navbar {
    position: static;
  }
  .navbar-top, .navigation-bar {
    display: none;
  }
  .navbar-bottom{
    height: auto;
    position: relative;
  }
  .navbar-top-left {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar-top-left > a {
    display: flex;
    justify-content: center;
    margin: 5px 0;
  }
  
  .navbar-top-right > img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    padding: 0;
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 240px;
    width: 100%;
  }
  .logo-container > img {
    margin: 0;
  }
  .logo-container::before{
    position: static !important;
    right: 0 !important;
    height: 0;
    transform: skewX(0) !important;
    width: 100% !important;
  }
  footer{
    padding: 5px;
    height: auto;
  }
  .footer-container{
    flex-direction: column;
  }
  footer > div{
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .footer-text{
    display: none;
  }
  .standort{
    width: 100%;
  }
  /* .mobil-navigation {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    margin-left: -2000px;
  }
  .mobil-menu-handle {
    margin-left: 0;
    transition: all 0.5s ease;
  }
  .mobil-navigation ul {
    list-style: none;
    padding: 20px;
  }
  .mobil-navigation > ul > li {
    display: flex;
    align-items: center;
    height: 34px;
    margin: 5px 0;
  }
  .mobil-logo-container-mobil {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #f8ba00;
  }
  .mobil-logo-container-mobil > .logo-text > .logo-text-big-mobil {
    color: #fff;
  } */

  /* .mobil-navigation-icon {
    display: block;
    width: 26px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 3;
  }
  .mobil-navigation-icon > div {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    margin: 3px 0;
  }
  .mobil-logo-container-mobil{
    background-color: #202340;
  }
  .mobil-icons{
    margin-right: 10px;
    margin-top: 5px;
    color: red;
  }
  
  .contact-container {
    width: 100% !important;
    background-color: #f8ba00;
    padding: 0 !important;
  }
  .contact-container::before{
    right: 100vw !important;
  }
  .contact > form {
    width: 90vw !important;
    margin: 0 !important;
    transform: translate(50%,-50%);
  }
  input[type="submit"] {
    width: 100% !important;
  }


  
  .services{
    display: flex;
    padding: 2em !important;
  }
  .service-center{
    flex-direction: column;
    width: 100%;
  }
  .services-images{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
  }
  .services-text{font-size: 30px;}
  .services-images-title > h2{
    width: 100%;
    font-size: 20px;
  }
  .help, .uberuns{
    position: relative;
    height: 100vh;
  }
  .uberuns{
    padding-top: 10px;
  }
  .help-left, .uberuns-right{
    width: 100vw;
    align-items: center;
    justify-content: flex-start;
    padding: 30px !important;
  }
  .help-text{
    width: 100vw;
    padding: 10px 30px;
    font-size: 18px;
    text-align: center;
  }
  .help-img{
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    width: 200px;
  }
  .uberuns-left{
    width: fit-content;
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    padding: 30px;
  }
  .uberuns-img{
    width: 200px;
  }
  .uberuns-right h2{
    text-align: center;
    margin: 10px 0;
  } */
  .go-top {
    width: 40px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1460px) {
  .links {
    margin: 0 10px !important;
    font-size: 1.2em !important;
  }
   .logo-container {
    width: 33em !important;
  }
  /*.contact{
    width: 100% !important;
    padding-top: 80px;
  }
  .contact-container {
    width: 100% !important;
    background-color: #f8ba00;
    padding: 0 !important;
  }
  .contact-container::before{
    right: 100% !important;
    width: 300px !important;
  }
  .contact > form {
    position: static !important;
    width: 100% !important;
    margin: 0 !important;
    transform: translate(-10%,0);
  }

  .help-img{
    width: 30vw;
  } */
}
