@media only screen and (max-width: 1024px) {
  .mobil-navigation-icon {
    display: block;
    width: 26px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 3;
  }
  .mobil-navigation-icon > div {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    margin: 3px 0;
  }
  .mobil-logo-container-mobil{
    background-color: red;
  }
  .mobil-icons{
    margin-right: 10px;
    margin-top: 5px;
    color: red;
  }
  .logo-text-small-mobil{
    text-shadow: 0.5px 0px #fff;
    font-size: 16px;
  }
  .navbar {
    position: static;
  }
  .navbar-top, .navigation-bar {
    display: none;
  }
  .navbar-bottom{
    height: auto;
    position: relative;
  }
  .navbar-top-left {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar-top-left > a {
    display: flex;
    justify-content: center;
    margin: 5px 0;
  }
  
  .navbar-top-right > img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    padding: 0;
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 240px;
    width: 100%;
  }
  .logo-container > img {
    margin: 0;
  }
  .logo-container::before{
    position: static !important;
    right: 0 !important;
    height: 0;
    transform: skewX(0) !important;
    width: 100% !important;
  }
  .contact{
    height: 600px !important;
  }
  .contact-container {
    width: 100% !important;
    background-color: #f8ba00;
    padding: 0 !important;
  }
  .contact-container::before{
    right: 100vw !important;
  }
  .contact > form {
    width: 90vw !important;
    margin: 0 !important;
    transform: translate(50%,-50%);
  }
  input[type="submit"] {
    width: 100% !important;
  }

  .go-top {
    width: 40px;
  }
  footer{
    padding: 5px;
    height: auto;
  }
  .footer-container{
    flex-direction: column;
  }
  footer > div{
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .footer-text{
    display: none;
  }
  .standort{
    width: 100%;
  }
  .services{
    display: flex;
    padding: 20px !important;
  }
  .service-center{
    flex-direction: column;
    width: 100%;
  }
  .services-images{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
  }
  .services-text{font-size: 30px;}
  .services-images-title > h2{
    width: 100%;
    font-size: 20px;
  }
  .help, .uberuns{
    position: relative;
    height: 100vh;
  }
  .help-left, .uberuns-right{
    width: 100vw;
    align-items: center;
    justify-content: flex-start;
    padding: 30px !important;
  }
  .help-text{
    width: 100vw;
    padding: 10px 30px;
    font-size: 18px;
    text-align: center;
  }
  .help-img{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    width: 200px;
  }
  .uberuns-left{
    width: fit-content;
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    padding: 30px;
  }
  .uberuns-img{
    width: 200px;
  }
  .uberuns-right h2{
    text-align: center;
    margin: 10px 0;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1460px) {
  .logo-container {
    width: 510px !important;
  }
  .contact{
    width: 100% !important;
    height: 600px !important;
  }
  .contact-container {
    width: 100% !important;
    background-color: #f8ba00;
    padding: 0 !important;
  }
  .contact-container::before{
    right: 100% !important;
    width: 300px !important;
  }
  .contact > form {
    position: static !important;
    width: 100% !important;
    margin: 0 !important;
    transform: translate(-10%,0);
  }
  .links {
    margin: 0 10px !important;
  }
  .help-img{
    width: 30vw;
  }
}
