@media only screen and (max-width: 1024px){
.sections{
  padding: 60px 0 !important;
}
.banner-overlay{
  padding: 0 !important;
}

.navbar-navigation-menu{
  display: none;
}

.logo-container-center > img{
 display: none !important;
}
.logo-container{
  flex-direction: column;
  height: 300px;
  width: 100%;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 20px;
  background-color: darkred;
  box-shadow: -2px 4px 5px #000;
  position: relative;
}
.navbar-logo{
  margin-left: 0 !important;
}
.logo-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.logo-text-big-mobil{
  color: #f8ba00 !important;
  font-size: 2.5rem;
}
.logo-text-small-mobil{
  font-size: 14px;
  color: #fff;
}
.mobil-navigation {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  margin-left: -2000px;
}
.mobil-menu-handle {
  margin-left: 0;
  transition: all 0.5s ease;
}
.mobil-navigation ul {
  list-style: none;
  padding: 20px;
}
.mobil-navigation > ul > li {
  display: flex;
  align-items: center;
  height: 34px;
  margin: 5px 0;
}
.mobil-logo-container-mobil {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #f8ba00;
}
.mobil-logo-container-mobil > .logo-text > .logo-text-big-mobil {
  color: #fff;
}
.mobil-navigation-icon {
  display: block !important;
  width: 26px;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  z-index: 3;
}
.mobil-navigation-icon > div {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #fff;
  margin: 3px 0;
}
.mobil-logo-container-mobil{
  background-color: #222;
}
.mobil-icons{
  margin-right: 10px;
  margin-top: 5px;
  color: red;
}
.banner-center{
  margin-top: 100px;
}
.banner-sub-title{
  font-size: 1.4rem;
}
.logo-container-center span{
  margin:0 10px !important;
}
.banner-title{
  font-size: 2.4rem;
}
.banner-text{
  width: 100%;
  padding: 20px;
}
.info, .navbar{
  display: none;
}
.aboutus-left{
  background-position: center;
}
.aboutus{
  position: relative;
  padding: 0 0 !important;
}
.aboutus-right{
  position: absolute;
}
.aboutus-right-btn{
  box-shadow: 2px 4px 5px #000;
}
.aboutus-right-title{
  color: #f1f1f1;
  font-size: 2.5rem;
  text-shadow: 1px 1px #000;
}
.aboutus-right-text{
  color: #000;
  font-size: 1.5rem;
}
.services-title{
  font-size: 3rem;
}
.services{
  height: auto;
}
.services-container, .products-container{
  padding: 0 30px !important;
}
.services-top-text, .products-top-text{
  width: 90%;
}
.price-container{
  flex-direction: column;
  height: auto;
}
.price-title{
  text-align: center;
  font-size: 2.7rem !important;
}
.services-items, .products-items{
  width: 100%;
  margin: 20px 0 !important;
}
.price-left, .price-right{
  padding: 50px 0 !important;
}
.pricelist{
  width: 100%;
}
.price-items{
  font-size: 1.2rem;
}
.contact-form{
  width: 80% !important;
}
.submit{
  width: 100% !important;
}
footer{
  height: auto;
  padding: 20px !important;
}
.footer-container{
  flex-direction: column;
}
.footer-text{
  display: none;
}
.standort{
  width: 100% !important;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1860px){
  .services, .products{
    padding: 100px 50px !important;
  }
  .services-container, .products-container{
    padding: 0 50px !important;
    justify-content: center;
  }
  .services-items, .products-items{
    margin: 0 10px !important;
  }
  .services-sub-title{
    font-size: 1.3rem !important;
  }
}