@media only screen and (max-width: 1024px){
.sections{
  padding: 60px 0 !important;
}
.banner-overlay{
  padding: 0 !important;
}

.navbar-navigation-menu{
  display: none;
}

.logo-container-center > img{
 display: none !important;
}
.logo-container{
  flex-direction: column;
  height: auto;
  width: 100%;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 20px;
  background-color: darkred;
  box-shadow: -2px 4px 5px #000;
  position: relative;
}
.navbar-logo{
  margin-left: 0 !important;
}
.logo-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.logo-text-big-mobil{
  color: #f8ba00 !important;
  font-size: 2.5rem;
}
.logo-text-small-mobil{
  font-size: 14px;
  color: #fff;
}
.mobil-navigation {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  margin-left: -2000px;
}
.mobil-menu-handle {
  margin-left: 0;
  transition: all 0.5s ease;
}
.mobil-navigation ul {
  list-style: none;
  padding: 20px;
}
.mobil-navigation > ul > li {
  display: flex;
  align-items: center;
  height: 34px;
  margin: 5px 0;
}
.mobil-logo-container-mobil {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #f8ba00;
}
.mobil-logo-container-mobil > .logo-text > .logo-text-big-mobil {
  color: #fff;
}
.mobil-navigation-icon {
  display: block !important;
  width: 26px;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  z-index: 3;
}
.mobil-navigation-icon > div {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #fff;
  margin: 3px 0;
}
.mobil-logo-container-mobil{
  background-color: #222;
}
.mobil-icons{
  margin-right: 10px;
  margin-top: 5px;
  color: red;
}
.banner-center{
  margin-top: 100px;
}
.banner-sub-title{
  font-size: 1.4rem;
}
.logo-container-center span{
  margin:0 10px !important;
}
.banner-title{
  font-size: 2.4rem;
}
.banner-text{
  width: 100%;
  padding: 20px;
}
.info, .navbar{
  display: none;
}
.aboutus{
  position: relative;
}
.aboutus-right{
  position: absolute;
}
}