@import "https://fonts.googleapis.com/css?family=Dangrek";
@import "https://fonts.googleapis.com/css?family=Emblema One";
@import "https://fonts.googleapis.com/css?family=Teko";
@import "https://fonts.googleapis.com/css?family=Merriweather";
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

html::-webkit-scrollbar {
  width: 0.7rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #d5a353;
  border-radius: 5rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
a {
  text-decoration: none;
}
a:visited {
  color: transparent;
}
.sections{
  display: flex;
  height: 100dvh;
  padding: 170px 0;
}
.banner{
  width: 100%;
  height: 100vh;
  background-image: url(../images/mirza1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.banner-overlay{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 40px 0;
  background: rgba(0,0,0, 0.7);
}

.navbar{
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 5;
  background-image: url(../images/mirza1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-overlay{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 40px;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-right: 50px;
  top: 0;
  left: 0;
  z-index: 6;
  background: rgba(0,0,0, 0.8);
  box-shadow: -5px 5px 5px #000;
}
.navbar-overlay  > nav > .links{
  font-size: 20px;
  color: darkgray;
  margin: 0 10px;
  font-weight: bold;
  padding: 10px;
  position: relative;
  letter-spacing: 1px;
}
.navbar .links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #d5a353;
  bottom: -4px;
  left: 0;
  transition: 0.5s;
  position: absolute;
}
.navbar .links:hover::after {
  width: 100%;
}
.logo-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
}
.logo-container > div{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.logo-container > div:nth-child(1){
  justify-content: flex-start;
  margin-left: 40px;
}
.banner-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artical-container{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.artical-container > span{
  margin: 0 16px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px #000;
}
.banner-text{
  color: darkgray;
  line-height: 25px;
  font-size: 20px;
  font-weight: bold;
  width: 380px;
  text-align: center;
  font-family: sans-serif;
  letter-spacing: 1px;
}
.info{
  display: flex;
  height: 170px;
  padding: 20px;
  border-top: 1px solid #999;
}
.info > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}
.info-center{
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}
.info-contact{
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.info-titles{
  color: #d5a353;
  text-shadow: 1px 1px #000;
}
.info-text{
  color: darkgray;
  margin-top: 20px;
  width: 200px;
  text-align: center;
  font-weight: 600;
}
.info-contact > a{
  display: flex;
  height: 20px;

align-items: center;}
.info-contact > a > img{
  width: 40px;
  margin-right: 20px;
}
.logo-container-center span {
  font-size: 24px;
  font-weight: bold;
  color: #d5a353;
  text-shadow: 1px 2px #000;
  margin: 0 20px;

}
.logo-container-center img {
  width: 100px;
}
.banner-title{
  font-family: 'Emblema One', serif;
  font-size: 120px;
  color: #d5a353;
  text-shadow: 2px 5px #000;
}
.banner-sub-title{
  font-family: 'Sofia serif';
  font-size: 30px;
  color: #d5a353;
  letter-spacing: 3px;
  text-shadow: 1px 2px #000;
}
.banner-text{
  font-size: 1rem !important;
}
.aboutus{
  padding: 0 0 !important;
}
.aboutus > .aboutus-left,
.aboutus > .aboutus-right,
.price > .price-left,
.price > .price-right{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.aboutus-left{
  background-image: url(../images/1.jpeg);
  background-size: cover;
}
.price{
  height: auto;
}
.aboutus-left > img,
.price-left > img{
  width: 100%;
}
.aboutus > .aboutus-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
}
.aboutus-right-title{
  font-size: 50px;
  font-family:'Teko', serif;
  letter-spacing: 4px;
  color: #000;
}
.aboutus-right-text{
  width: 60%;
  font-size: 20px;
  color: #d5a353;
  margin-top: 20px;
  height: 30px;
}
.aboutus-right-btn{
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 30px;
  padding: 10px 40px;
  background-color: #d5a353;
  color: #000;
  margin-top: 70px;
  cursor: pointer;
  font-family:'Teko', serif;
  letter-spacing: 2px;
}
.services{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  background-color: #d5a353;
}
.services-title{
  font-family:'Teko', serif;
  letter-spacing: 4px;
  font-size: 4rem;
  color: #fff;
  text-shadow: 1px 2px #000;
}
.separator{
  width: 50px;
  height: 15px;
  margin-bottom: 30px;
}
.services-top-text{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  font-family: "Merriweather",serif;
  font-weight: 400;
  font-style: italic;
  margin-top: 1.5em;
  width:40%;
  font-size: 1.3em;
  color: #42403f;
}
.services-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
  padding: 0 150px;
}
.services-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 300px;
  margin: 0 20px;
  padding: 50px 20px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background-color: #fff;
}
.services-container > div > img{
 width: 50px;
}
.services-sub-title{
  margin-top: 20px;
  color: #000;
  font-size: 1.5rem;
}
.services-text{
  text-align: center;
  width: 80%;
  margin-top: 20px;
  font-size: 14px;
  color: coral
}
.price{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.price > .price-container{
  display: flex;
  width: 100%;
}
.price-left, .price-right{
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: center;
  flex: 1;
  padding: 50px;
}
.price-left > img, .price-right > img{
  width: 50px;
}
.price-container > .price-left > .pricelist,
.price-container > .price-right > .pricelist{
  width: 80%;
}
.price-container > .price-left > .pricelist > li,
.price-container > .price-right > .pricelist > li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 5px;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  font-family: 'Teko';
  font-size: 16px;
} 
.price-unit{
  color: #d5a353;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: red;
}
.contact > h1{
  font-size: 50px;
  font-family: 'Toke' serif;
  margin-bottom: 20px;
  color: #f1f1f1;
}
.contact > form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 20px;
}
.contact > form > input,
.contact > form > textarea {
  height: 48px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  background-color: #ccc;
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
}
.contact > form > textarea {
  height: 200px;
  padding: 10px;
}
.contact > form > input[type="submit"] {
  align-self: flex-end;
  height: 50px;
  font-size: 22px;
  width: 240px;
  background-color: #d5a353;
  color: #000;
  border: none;
}
.contact > form > input[type="submit"]:hover {
  cursor: pointer;
  filter: brightness(150%);
}
.contact > form > .errors{
  color: #fff;
}
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background-color: red;
  padding: 50px;
  color: #fff;
}
.footer-container{
  display: flex;
  justify-content: space-around;
}
.copyright{
  display: flex;
  align-items: center;
 justify-content: center;
  margin-top: 50px;
}
.logo-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.standort{
  width: 500px;
  height: 300px;
  border-radius: 10px;
  padding: 10px;
  background-color: #ccc;
  margin-top: 20px;
}
.standort-frame{
  width: 100%;
  height: 100%;
}
.footer-info-container > ul{
  list-style: none;
  margin-top: 50px;
}
.footer-standort{
  display: flex;
  align-items: center;
}

.footer-info-container > ul > li > a{
  display: flex;
  align-items: center;
  height: 40px;
  color: #fff;
}
.footer-info-container > ul > li > a > img{
  width: 30px;
  margin-right: 20px;
}
.footer-social-icons{
  margin-top: 50px;
}
.footer-social-icons > a > img{
  width: 40px;
}
.go-top {
  position: fixed;
  bottom: 30px;
  right: 0.5em;
  cursor: pointer;
  width: 80px;
  z-index: 5;
  display: none;
}
.mobil-navigation{
  display: none;
}